.experience-card {
  position: relative;
  background-color: #fff;
  border-radius: 10px;
  padding: 25px;
  margin: 15px 20px;
  border: 6px solid;
  width: calc(100% - 40px);
  max-width: 1200px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  color: #eee;
}

.experience-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  border-bottom: 2px solid #eee;
  padding-bottom: 10px;
}

.experience-card-content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 10px;
}

.experience-text {
  flex: 1;
}

.experience-text p {
  margin-bottom: 5px;
  font-weight: 500;
  line-height: 1.5;
}

.company-logo {
  background-color: white;
  object-fit: contain;
  flex-shrink: 0;
  margin-top: 10px;
}

.job-title {
  font-weight: 700;
  font-size: 22px;
}

.job-date {
  font-weight: 600;
  font-size: 18px;
  color: #eee;
}

@media (max-width: 767px) {
  .experience-card {
    padding: 15px;
    width: calc(100% - 30px);
  }

  .experience-card-content {
    flex-direction: column;
    align-items: center;
  }

  .company-logo {
    margin-top: 20px;
    margin-bottom: 10px;
  }

  .job-title {
    font-size: 20px;
  }

  .job-date {
    font-size: 16px;
  }

  .experience-text p {
    font-size: 14px;
  }

  .experience-section{
    margin-bottom: 20px;
  }
}
