.skills-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.frontend-skills-div{
    display: flex;
    flex-direction: row;
    font-size: 30px;
    font-weight: 500;
    gap: 200px;
}

.backend-skills-div{
    display: flex;
    flex-direction: row;
    font-size: 30px;
    font-weight: 500;
    gap: 70px;
}

.tools-skills-div{
    display: flex;
    flex-direction: row;
    font-size: 30px;
    font-weight: 500;
    gap: 100px;
}

.skill-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}