.experience-section{
    display: flex;
    flex-direction: column;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0px 20px 20px;
    padding: 20px;
    border-radius: 20px;
    color: white;
}

.softinsa-logo{
    width: 160px;
    height: 49px;  
}

.quatenus-logo{
    width: 180px;
    height: 42px;
}

.quatenus-logo-div{
    background-color: white;
    padding: 5px;
}

.ba-logo{
    width: 70px;
    height: 53px;
}

.quatenus {
    border: 5px solid rgb(235, 118, 16);
}

.ba {
    border: 5px solid rgb(143, 26, 88); 
}

.softinsa {
    border: 5px solid rgb(16, 113, 158); 
}

.job-section {
    display: flex;
    justify-content: space-between;
}

.job-summary-item {
    display: flex;
    flex-direction: column;
}

b{
    font-weight: 900;
}
